{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat aperiam nisi pariatur dicta
            aspernatur, soluta voluptatum voluptas? Cupiditate recusandae quae earum voluptate doloremque explicabo iure
            eligendi laborum alias sunt.</p>
    </div>


    <div class="col-4">
        <img src="assets/img/about-image.jpg" class="img-thumbnail">
    </div>

</div>



{{>footer}}